{% include "header.html" %}

        <!-- Page Header-->
       <header class="masthead" style="background-image: url('static/img/cafe.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>Your choice, your place</h2>
          <p>Calm, Comfort, Compatible</p>
        </div>
      </div>
    </div>
  </div>
</header>
<img class="coffee" src="static/img/coffee.png">
<img class="chair" src="static/img/chair.png">

{% include "footer.html" %}
